h1, h2, h3 {
    clear: both;
}

/* 文字环绕，图片位于左边 */
.float {
    clear: both;
}
.float > img {
    float: left;
    margin-right: 5px;
}

/* Begin - object对象强调 */
.object {
    font-size: 1.5em;
}

.attr {
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 1.2em;
    font-style: italic;
    color: #D94600;
}

.method {
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 1.1em;
    color: #C6A300;
}

.param {
    font-style: italic;
    color: #00A600;
}
/* End - object对象强调 */

/* docsify-tabs__content字体 */
.docsify-tabs__content {
    font-size: 1.4em;
}
